@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap");
* {
  margin: 0;
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  justify-content: center;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: black;
  margin: 0%;
  padding: 0%;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

main {
  display: grid;
  justify-content: center;
}

main section.saludo {
  justify-content: center;
}

footer {
  text-align: center;
  color: white;
  background-color: black;
  padding: 10px;
}

main .section {
  grid-template-columns: auto;
}
